<div>
  <h4 class="text-center">faGrid as a directive</h4>

  <h5> Cleaner fields (aka display-fields) scope </h5>
  <fa-grid
    data="users"
    links="users.links"
    resources="resources"
    current-resource="usersMetadata"
    fields="title,firstName,lastName"></fa-grid>

<!--
  <h5> Users </h5>
  <fa-grid
    data="users"
    links="users.links"
    display-fields="{title: true, firstName: true, lastName: true, role:true, email: true, additionalDetails : { testNumber: true}}"
    resources="resources"
    current-resource="usersMetadata"></fa-grid>

  <h5> Addresses </h5>
  <fa-grid
    data="addresses"
    links="addresses.links"
    display-fields="{addressLine1: true, addressLine2: true, user: true}" resources="resources"
    current-resource="addressesMetadata"></fa-grid>
-->

  <hr/>

  <h5> Debug </h5>

  <strong>Users</strong>
  <pre>{{users | json}}</pre>

  <strong>Addresses</strong>
  <pre>{{addresses | json}}</pre>

  <strong>User Meta Data</strong>
  <pre>{{usersMetadata | json}}</pre>

  <strong>Address Meta Data</strong>
  <pre>{{addressesMetadata | json}}</pre>

  <strong>Resources</strong>
  <pre>{{resources | json}}</pre>
</div>
