<section id="fortune-admin" ng-class="{wmargin: navbarEnabled}">
  <div ng-if="navbarEnabled">
    <fortune-admin-navbar></fortune-admin-navbar>
  </div>
  <h4 class="text-center">{{ parentResourceName | uppercase }} {{ parentId ? parentId + ' /' : null}} {{plurResourceName | uppercase}}</h4>
  <fa-grid data="data" links="links" resources="resources" current-resource="currentResource" filter="filter" filter-changed-cb="ResourcesCtrl.filterChangedCb()" get-typeahead-list="getTypeaheadList(str, name, type)" strict-filters="strictFilters"></fa-grid>
  <div class="col-md-3">
    <div ng-hide="PK === 'id'">
      <label>Enter {{ PK }} for new {{ currentResource.name }}</label>
      <input type="text" ng-model="PrimaryKey" ng-required="true" class="form-control"/>
    </div>
    <button type="button" ng-click="ResourcesCtrl.addRow(PrimaryKey)" class="btn btn-default btn-sm" ng-disabled="PK !== 'id' && !PrimaryKey">Create new row</button>
  </div>
</section>
