/* Space out content a bit */
#fortune-admin{
    padding-top: 20px;
    padding-bottom: 20px;
}
#fortune-admin.wmargin{
    margin-top: 60px;
}

#fortune-admin .column-filter{
    max-width: 250px;
}

/* Canvas elements styling */
svg .resource{
  font-size: 12px;
  border: solid 1px;
}
svg .header{
  border-bottom: solid 2px;
  margin: 0;
  background-color: #fff;
}

svg .pk{
    background-color: #F00;
}

svg .properties{
    border-bottom: dotted 1px;
}

svg .actions {
    font-weight: 800;
    border-bottom: dotted 1px;
}
svg .ref {
    background-color: #ececec;
}

.fa-grid {
    width: 100%;
    overflow-x: auto;
}

.fa-ui-grid-default-cell .circle {
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin: auto;
}

.fa-ui-grid-default-cell.checkmark {
    width: 100%;
    text-align: center;
}

.fa-ui-grid-default-cell .circle.red {
    background-color: #FF6666!important;
}
.fa-ui-grid-default-cell .circle.amber {
    background-color: #FFCC66!important;
}
.fa-ui-grid-default-cell .circle.green {
    background-color: #64A35D!important;
}

img.fa-ui-grid-action-icon-active {
    width:12px; 
    height:12px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 6px; 
    cursor: pointer;
}

img.fa-ui-grid-action-icon-disabled{
    width:12px; 
    height:12px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 6px; 
}