<section id="fortune-admin">
  <fortune-admin-navbar></fortune-admin-navbar>
  <h4 class="text-center">{{ parentResourceName | uppercase }} {{ parentId ? parentId + ' /' : null}} {{plurResourceName | uppercase}}</h4>
  <table class="table table-bordered">
    <tr>
      <th ng-repeat="(name, type) in currentResource.schema | filterLinks">
      <sort-by onsort="ResourcesCtrl.onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ name }}">{{ name }}</sort-by>
      </th>
      <th ng-repeat="(linkName, link) in links">{{ResourcesCtrl.resolveFieldName(linkName)}}</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="entity in data">
      <td ng-repeat="(path, type) in currentResource.schema | filterLinks">
        <fa-editable ng-model="entity[path]" path="path" resource-name="{{plurResourceName}}" resource-id="{{entity.id}}" schema-type="type"></fa-editable>
      </td>
      <td ng-repeat="(linkName, link) in links">
        <div ng-if="ResourcesCtrl.linkToMany(linkName)">
          <a ng-href="{{ fortuneAdminRoute('subresource', {parent: plurResourceName, id: entity.id, name: link.type, inverse: ResourcesCtrl.resolveInverse(linkName)}) }}">Navigate to {{link.type}}</a>
        </div>
        <div ng-if="!ResourcesCtrl.linkToMany(linkName)">
          <div ng-init="fname = ResourcesCtrl.resolveFieldName(linkName)"></div>
          <!--Initialize links if they do not come from server-->
          <div ng-init="entity.links = entity.links || {}"></div>
          <fa-ref ng-model="entity.links[fname]" ref="currentResource.schema[fname]" resource-name="{{ plurResourceName }}" resource-id="{{ entity.id }}"></fa-ref>
        </div>
      </td>
      <td>
        <button type="button" ng-click="ResourcesCtrl.deleteRow($index, entity.id)" class="btn btn-xs btn-danger">Delete</button>
      </td>
    </tr>
  </table>
  <div ng-show="totalPages > 1" class="align-center">
  <pagination num-pages="totalPages" current-page="filterCriteria.pageNumber" max-size="1" class="" 
    boundary-links="true" on-select-page="selectPage(page)"></pagination>
  <div>
  </div>
  <div class="col-md-3">
    <div ng-hide="PK === 'id'">
      <label>Enter {{ PK }} for new {{ currentResource.name }}</label>
      <input type="text" ng-model="PrimaryKey" ng-required="true" class="form-control"/>
    </div>
    <button type="button" ng-click="ResourcesCtrl.addRow(PrimaryKey)" class="btn btn-default btn-sm" ng-disabled="PK !== 'id' && !PrimaryKey">Create new row</button>
  </div>
</section>