<fortune-admin-navbar></fortune-admin-navbar>
<h4 class="text-center">{{ parentResourceName | uppercase }} {{ parentId ? parentId + ' /' : null}} {{plurResourceName | uppercase}}</h4>
<table class="table table-bordered">
  <tr>
    <th ng-repeat="(name, type) in currentResource.schema | filterLinks">{{name}}</th>
    <th ng-repeat="link in links">{{link.type}}</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="entity in data">
    <td ng-repeat="(path, type) in currentResource.schema | filterLinks">
      <fa-editable ng-model="entity[path]" path="path" resource-name="{{plurResourceName}}" resource-id="{{entity.id}}" schema-type="type"></fa-editable>
    </td>
    <td ng-repeat="(linkName, link) in links">
      <div ng-if="ResourcesCtrl.linkToMany(linkName)">
        <a ng-href="{{ fortuneAdminRoute('subresource', {parent: currentResource.name, id: entity.id, name: link.type, inverse: ResourcesCtrl.resolveInverse(linkName)}) }}">Navigate to {{link.type}}</a>
      </div>
      <div ng-if="!ResourcesCtrl.linkToMany(linkName)">
        <div ng-init="fname = ResourcesCtrl.resolveFieldName(linkName)"></div>
        <!--Initialize links if they do not come from server-->
        <div ng-init="entity.links = entity.links || {}"></div>
        <fa-ref ng-model="entity.links[fname]" ref="currentResource.schema[fname]" resource-name="{{ plurResourceName }}" resource-id="{{ entity.id }}"></fa-ref>
      </div>
    </td>
    <td>
      <button type="button" ng-click="ResourcesCtrl.deleteRow($index, entity.id)" class="btn btn-xs btn-danger">Delete</button>
    </td>
  </tr>
</table>
<div class="col-md-3">
  <div ng-hide="PK === 'id'">
    <label>Enter {{ PK }} for new {{ currentResource.name }}</label>
    <input type="text" ng-model="PrimaryKey" ng-required="true" class="form-control"/>
  </div>
  <button type="button" ng-click="ResourcesCtrl.addRow(PrimaryKey)" class="btn btn-default btn-sm" ng-disabled="PK !== 'id' && !PrimaryKey">Create new row</button>
</div>