<div class="row">
    <div class="col-lg-12">
        <h2>Addresses</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div ng-controller="AddressesCtrl">
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td class="col-md-1">User</td>
                    <td class="col-md-1">Type</td>
                    <td class="col-md-2">Address Line 1</td>
                    <td class="col-md-2">Address Line 2</td>
                    <td class="col-md-1">City</td>
                    <td class="col-md-1">Region</td>
                    <td class="col-md-1">Post Code</td>
                    <td class="col-md-1">Country</td>
                    <td class="col-md-2">Edit</td>
                </tr>
                <tr ng-repeat="address in addresses">
                    <td>
                        <span editable-select="address.user" e-name="user" e-form="rowform" e-ng-options="s.id as s.firstName + ' ' + s.lastName for s in users">
                          {{ showUsers(address) }}
                        </span>
                    </td>
                    <td>
                        <span editable-select="address.type" e-name="type" e-form="rowform" e-ng-options="s.value as s.text for s in types">
                          {{ showTypes(address) }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="address.addressLine1" e-name="addressLine1" e-form="rowform" e-required>
                          {{ address.addressLine1 || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="address.addressLine2" e-name="addressLine2" e-form="rowform">
                          {{ address.addressLine2 || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="address.city" e-name="city" e-form="rowform">
                          {{ address.city || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="address.region" e-name="region" e-form="rowform">
                          {{ address.region || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="address.postCode" e-name="postCode" e-form="rowform">
                          {{ address.postCode || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-select="address.country" e-name="country" e-form="rowform" e-ng-options="c.text as c.text for c in countries">
                          {{ showCountry(address) }}
                        </span>
                    </td>
                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveAddress($data, address.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == address">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                            <button class="btn btn-danger" ng-click="removeAddress($index)">del</button>
                        </div>
                    </td>
                </tr>
            </table>

            <button class="btn btn-default" ng-click="addAddress()">Add row</button>
        </div>
    </div>
</div>