<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" bs-navbar>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><b>Fortune Admin</b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="resource in resources"><a data-ng-href="{{ r('resource', {name: resource.name }) }}">{{ resource.name }}</a></li>
                    </ul>
                </li>
                <li data-match-route="/uml"><a data-ng-href="{{ r('uml_diagram') }}">UML</a></li>
            </ul>
        </div>
    </div>
</nav>

