<h1 class="text-center">Hello uml!</h1>
<section>
  <h4>Legend:</h4>
  <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" id="v-2" width="300" height="100">
    <g stroke=green" fill="#FFF" width="40" height="10" transform="translate(5, 10)">
      <text font-size="14" fill="black" font-family="Arial, helvetica, sans-serif">Many to many</text>
    </g>
    <g stroke="none" fill="#FFF" width="40" height="10" transform="translate(5, 40)">
      <text font-size="14" fill="black" font-family="Arial, helvetica, sans-serif">One to one</text>
    </g>
  </svg>
</section>
<uml-canvas></uml-canvas>