<div class="btn-group" dropdown>
  <button type="button" class="btn" ng-class="{'btn-success': isSelected(model), 'btn-default': !isSelected(model)}" ng-click="toggleSelection(model)">
      <span class="glyphicon glyphicon-unchecked" ng-hide="isSelected(model)"></span>
      <span class="glyphicon glyphicon-ok" ng-show="isSelected(model)"></span>
  </button>
  <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu" style="position: fixed; top: 50%; left:87%;">
    <li ng-repeat="action in actions | singleActions">
      <a ng-click="applySingleAction(actions[action.name], model)">{{action.title || action.name}}</a>
    </li>
  </ul>
</div>

