<div>
  <div ng-show="enabled" >
    <div>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAASBJREFUKJFjYCAAmDi5VbgtPe5yGdkfYmRh5WckpIFD02Qhm5RCHAMDA8Of96+PMOExWZnL0HbfrwfXm/+8fbmHgYGBgYGRkYkZt2L7/cx8gvrMQuLuP66eivr/7/+/nzfPpWJoYOLkVuIytD/AxMkly8DAwMDExi7CwMom+vPm+TSGf/9+ojiJiYNLEVkxAwMDw59P7878vHkhC64GWTGnEYbis9/PH3b9/+f3B5gYM1SxAqeR/UFmTm45fIqhNjAyMQuKOjJxIJv8/hxU8XsMP7LJq1f+//nj+c9bF/L/////H6L4kAs2xQwMDAwMXIa2e3gdAr6zCIl7sIrLRjGysApiVQgFLIzsXAp/3r3azcjJrfz76b2p+BQzMDAwAAC7bnEbFL9VuAAAAABJRU5ErkJggg==" 
      class="fa-ui-grid-action-icon-active" 
      id="action-show-link-{{name}}" ng-click="showMenu($event)">
    </div>
    <ul class="dropdown-menu" role="menu" ng-style="popupPosition">
      <li ng-repeat="action in actions">
        <a ng-click="actionClick(action)">{{action.title}}</a>
      </li>
    </ui> 
  </div>

  <div ng-show="!enabled">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAATBJREFUKJFjYCAAmCVkVISnbror2Dz7ECMXNz8zIQ28CcX97HpmDsxiUvKsGvo2TDhNFpdWFqifse/r6tnNPy8c38PAwMDAwMiEXT2zuLSy8Mxtj8TXnf8vPGndDWZxaWWehKJ+Ri4eTCcxi0krCTTPPsAiKinLwMDAwMQnKMLIKyD6eWZrGsPvXz9ZUBVLKQo0zznAIiohCxP7ffvKmc+z27NgfCa8iu9cPfu+MdP1/7cvH+DqGBgYGJhFJRUEWuYeZBGVlMOnGGIDIyMTq46JI7OwOJLJ1869b8x0/f/183t0PzJxByZU/nv/5vnnuV35///9+w9RnOGCTTEDAwMDg0D9tD2iK058ZzOw9OCwcY9i5OYVxKoQZgOzqKTCrwvHdjOLyyj/OLJzGU6ToQAAfSNykDCT1VkAAAAASUVORK5CYII=" 
      class="fa-ui-grid-action-icon-disabled">  
  </div>
</div>
