<div class="fa-grid">
    <table class="table table-bordered">
    <tr>
        <th>
            <div ng-class="{'column-filter': _showFilter}">
                <span>ID</span>
                <div ng-show="_showFilter">
                    <input type="text" class="form-control" ng-model="idQuery" typeahead="item.id for item in getTypeaheadList({str: $viewValue, name: 'id', type: type})" typeahead-on-select="applyFilter({item: $item, model: $model, label: $label}, name, type)">
                </div>
                <span class="glyphicon glyphicon-filter" ng-show="!_showFilter" ng-click="_showFilter = !_showFilter"></span>
                <span class="glyphicon glyphicon-remove" ng-show="_showFilter" ng-click="_showFilter = false; idQuery=''; dropFilter(name, idQuery)"></span>
            </div>
        </th>
        <th ng-repeat="(name, type) in currentResource.schema | filterFields:fields" ng-class="{'column-filter': showFilter}" ng-init="type = type.type || type">
            <div>
                <span>{{name}}</span>
                <span class="glyphicon glyphicon-filter" ng-show="!showFilter" ng-click="showFilter = !showFilter"></span>
                <span class="glyphicon glyphicon-remove" ng-show="showFilter" ng-click="showFilter = false; taQuery=''; dropFilter(name, taQuery)"></span>
            </div>
            <div ng-switch="type">
                <div ng-switch-when="String" ng-show="showFilter">
                    <input type="text" class="form-control" ng-model="taQuery" typeahead="item.{{name}} for item in getTypeaheadList({str: $viewValue, name: name, type: type})" typeahead-on-select="applyFilter({item: $item, model: $model, label: $label}, name, type)">
                </div>
                <div ng-switch-when="Number" ng-show="showFilter">
                    <div class="input-group">
                        <span class="input-group-addon">From:</span>
                        <input type="number" ng-model="Query.start" class="form-control" ng-change="applyFilter(Query, name, type)"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">To:</span>
                        <input class="form-control" type="number" ng-model="Query.end"  ng-change="applyFilter(Query, name, type)"/>
                    </div>
                </div>
                <div ng-switch-when="Date" ng-show="showFilter">
                    <div class="input-group">
                        <span class="input-group-addon">From:</span>
                        <input type="date" class="form-control" ng-model="Query.start" ng-change="applyFilter(Query, name, type)"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">To:</span>
                        <input type="date" class="form-control" ng-model="Query.end"  ng-change="applyFilter(Query, name, type)"/>
                    </div>
                </div>
                <div ng-switch-when="Boolean" ng-show="showFilter">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-sm" ng-class="{'btn-default': !Query.yep, 'btn-info': Query.yep}" type="button" ng-click="Query.yep = true; Query.nope=false; applyFilter(true, name, type);">Yep</button>
                        <button class="btn btn-sm" ng-class="{'btn-default': !Query.nope, 'btn-info': Query.nope}" type="button" ng-click="Query.yep = false; Query.nope=true; applyFilter(false, name, type);">Nope</button>
                    </div>
                </div>
            </div>
        </th>
        <th ng-repeat="(linkName, link) in links">{{resolveFieldName(linkName)}}</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="entity in data" ng-hide="entity.deleted">
        <td>{{entity.id}}</td>
        <td ng-repeat="(path, type) in currentResource.schema | filterFields:fields" ng-init="type = type.type || type">
            <fa-editable ng-model="entity[path]" path="path" resource-name="{{currentResource.route}}" resource-id="{{entity.id}}" schema-type="type"></fa-editable>
        </td>
        <td ng-repeat="(linkName, link) in links">
            <div ng-if="linkToMany(linkName)">
                <a ng-href="{{ getSubresourceRoute('subresource', {parent: currentResource.route, id: entity.id, name: link.type, inverse: resolveInverse(linkName)}) }}">Navigate to {{link.type}}</a>
            </div>
            <div ng-if="!linkToMany(linkName)">
                <div ng-init="fname = resolveFieldName(linkName)"></div>
                <!--Initialize links if they do not come from server-->
                <div ng-init="entity.links = entity.links || {}"></div>
                <fa-ref ng-model="entity.links[fname]" ref="currentResource.schema[fname]" resource-name="{{currentResource.route}}" resource-id="{{ entity.id }}"></fa-ref>
            </div>
        </td>
        <td>
             <fa-actions ng-model="entity" data="data" collection-name="currentResource.route"></fa-actions>
        </td>
    </tr>
</table>
</div>
