<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" bs-navbar>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><b>Fortune Admin</b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <fortune-admin-resources-cells></fortune-admin-resources-cells>
            <fortune-admin-uml-cells></fortune-admin-uml-cells>
            <fortune-admin-docs-cells></fortune-admin-docs-cells>
          </ul>
        </div>
    </div>
</nav>

