<div class="container jumbotron">
  <h2 class="text-center">Hey! Point me to your API</h2>
  <label class="form-label">Host</label>
  <input class="form-control" type="text" ng-model="params.host" placeholder="localhost"/>
  <label class="form-label">Namespace</label>
  <input class="form-control" type="text" ng-model="params.namespace"/>
  <button class="btn btn-default" type="button" ng-click="startFA()">Run the fortune-admin app</button>
  <button class="btn btn-default" type="button" ng-click="startDocs()">Run the docs app</button>
</div>
